<main>
  <header>
    <h1>Silpo</h1>
    <nav>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a routerLink="/users" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Users</a>
      <a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">About</a>
      <a routerLink="/123123123123" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Not found</a>
    </nav>
  </header>
</main>
